
div#container {
    font-size: 12px;
}

div#app {
    background: rgb(255,233,249);
    background: -moz-linear-gradient(-2deg, rgba(255,233,249,1) 0%, rgba(254,243,251,1) 11%, rgba(248,250,252,1) 66%);
    background: -webkit-linear-gradient(-2deg, rgba(255,233,249,1) 0%, rgba(254,243,251,1) 11%, rgba(248,250,252,1) 66%);
    background: linear-gradient(-2deg, rgba(255,233,249,1) 0%, rgba(254,243,251,1) 11%, rgba(248,250,252,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe9f9",endColorstr="#f8fafc",GradientType=1);
}

.heart-object {
    width: 25px;
    height: 25px;
    transition: opacity 1s ease-out, transform 1s ease-out;
}